<html>
 <head>
        <script src="lib/angular.min.js"  >
        </script>
        <script src="assignt13.js" >
        </script>
     
 </head>
 <body ng-app="studentInfoApp">
        <center><h2>Student Information</h2></center>
    <div align="center" ng-controller="studentInfo">
            First Name:  <input type="text" ng-model="user.firstname"/><br/>
            Last Name:  <input type="text" ng-model="user.lastname"/><br/>
            Roll No:  <input type="text" ng-model="user.roll"/><br/><br/>
            <button ng-click="showSection();" >Show Marks</button><br/><br/>
        <div ng-show="showMarksSection"> 
            Maths: <input type="text" ng-model="user.maths"/><br/>
            Science: <input type="text" ng-model="user.science"/><br/>
            English: <input type="text" ng-model="user.english"/><br/><br/>
            <button ng-click="calculateTotalMarks();" >Print</button><br/>

            <b>TotalMarks:{{totalMarks}}</b><br/>
            <b>Percentage:{{percentage}}</b>
            

        </div>
     </div>
 </body>
</html>